$body$

<a href="pages/About.html">Read more...</a>

<h2 style="clear: left">The Elements</h2>

<p>The book <a href="https://emilyriehl.github.io/files/elements.pdf">Elements of ∞-Category Theory</a> by Emily Riehl and Dom Verity will be published by <a href="https://www.cambridge.org">Cambridge University Press</a> in 2022, click on the <a href="https://emilyriehl.github.io/files/elements.pdf">link</a> to access our latest draft.

<h2 style="clear: left">Recent blogposts</h2>
$partial("templates/post-list.html")$

$if(tags)$
    <h3 style="clear: left">Browse by tag:</h3>
    <div itemprop="keywords" class="tags">$tags$</div>
$endif$
