$body$

<a href="pages/About.html">Read more...</a>

<h2 style="clear: left">The Elements</h2>

<p>The book <a href="https://www.cambridge.org/core/books/elements-of-category-theory/DAC48C449AB8C2C1B1E528A49D27FC6D"><em>Elements of ∞-Category Theory</em></a> by Emily Riehl and Dom Verity has just been published (online, January 2022) by <a href="https://www.cambridge.org">Cambridge University Press</a> as volume 194 of the series <a href="https://www.cambridge.org/core/series/cambridge-studies-in-advanced-mathematics/0A5F361E5A5E9D3EFE58F53613C0D307">Cambridge Studies in Advanced Mathematics</a>. This text is also available as a <a href="https://emilyriehl.github.io/files/elements.pdf">free download</a> under the following terms:</p>

<blockquote>
<p><a href="https://emilyriehl.github.io/files/elements.pdf">This material</a> has been published by Cambridge University Press as <em>Elements of ∞-Category Theory</em> by Emily Riehl and Dom Verity. This pre-publication version is free to view and download for personal use only. Not for re-distribution, re-sale or use in derivative works. © Emily Riehl and Dom Verity 2018-2021.</p>
</blockquote>

<h2 style="clear: left">Recent blogposts</h2>
$partial("templates/post-list.html")$

$if(tags)$
    <h3 style="clear: left">Browse by tag:</h3>
    <div itemprop="keywords" class="tags">$tags$</div>
$endif$
