<div class="post">
  <h1 class="post-title">
      <a href="$url$">
        $title$
      </a>
    </h1>
    <span class="pdf-version">
      <a href="/posts/$pdf-filename$" target="_blank" rel="noopener noreferrer">PDF version...</a><br/>
      (for printing)
    </span>
    <span class="post-date">
      Posted: $date$<br/> 
      Last modified: $modified$
      $if(author)$
        <br/>Author: $author$
      $endif$
    </span>
    $body$

    $if(tags)$
    <div itemprop="keywords" class="tags">
        $tags$
    </div>
    $endif$
</div>

