<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>$site-description$</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item$if(home)$ active$endif$" href="$baseurl$">Home</a>
    <a class="sidebar-nav-item$if(blog)$ active$endif$" href="$baseurl$/blog/page1.html">Blog</a>

    <!--- The code below dynamically generates a sidebar nav of the files in the folder /pages -->

    $for(list_pages)$
      $if(title)$
        <a class="sidebar-nav-item$if(eval(title))$ active$endif$" href="$baseurl$$node-url$">$title$</a>
      $endif$
    $endfor$

    <a class="sidebar-nav-item$if(archive)$ active$endif$" href="$baseurl$/archive.html">Archive</a>

    <a class="sidebar-nav-item" href="$github-repo$" target="_blank" rel="noopener noreferrer">GitHub project</a>

  </nav>

  <div class="sidebar-item">
    &copy; $copy-year$. <a href="mailto:$site-email$">$site-author$</a></br> 
    All rights reserved.
    <div>
      <a class="sidebar-icon" type="application/atom+xml" href="$baseurl$/atom.xml">
        <img class="sidebar-icon" src="$baseurl$/images/atom_icon.svg"/>
      </a>
      <a class="sidebar-icon" type="application/rss+xml" href="$baseurl$/rss.xml">
        <img class="sidebar-icon" src="$baseurl$/images/rss_icon.svg"/>
      </a>
      <a class="sidebar-icon" href="$github-url$">
        <img class="sidebar-icon" src="$baseurl$/images/github_icon.svg"/>
      </a>
    </div>
    <p>
        <img src="$baseurl$/images/dom.png" class=logo 
             style="display: block; margin-left:auto; margin-right: auto; width: 60%"/>
        Site created with
        <a href="https://jaspervdj.be/hakyll">Hakyll</a>.
        <br>
        Modified theme
        <a href="https://github.com/hahey/lanyon-hakyll">lanyon-hakyll</a>
        based on
        <a href="https://lanyon.getpoole.com/">Lanyon</a>.
    </p>
</div>

</div>
